<div class="container">
  <footer>
    <div class="row">
      <div class="col">
        <h4>Bubasa</h4>
        <p>Bubasa is an initiative aimed at uiting the bamounds</p>
      </div>
      <div class="col">
        <h4>Navigation</h4>
        <div class="footer-links">
          <a class="" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          <a class="" routerLink="/members">Members</a>
          <a class="" routerLink="/about">About</a>
          <a class="" routerLink="/contact">Contact</a>
        </div>
      </div>
      <div class="col">
        <h4>Contact</h4>
        <p>Bubasa is an initiative aimed at uiting the bamounds</p>
      </div>
      <div class="col">
        <h4>Volunteer</h4>
        <p>Bubasa is an initiative aimed at uiting the bamounds</p>
      </div>
    </div>
  </footer>
</div>
